# notebook on data collection

In [ ]:
# import libraries
import pandas as pd
import numpy as np

In [ ]:
#list of urls
m_site=[
'https://www.multpl.com/s-p-500-dividend/table/by-month',
'https://www.multpl.com/s-p-500-dividend-yield/table/by-month',
'https://www.multpl.com/s-p-500-earnings/table/by-month',
'https://www.multpl.com/s-p-500-earnings-yield/table/by-month',
'https://www.multpl.com/s-p-500-pe-ratio/table/by-month',
'https://www.multpl.com/inflation-adjusted-s-p-500/table/by-month',
'https://www.multpl.com/shiller-pe/table/by-month',

'https://www.multpl.com/1-month-treasury-rate/table/by-month',
'https://www.multpl.com/3-month-treasury-rate/table/by-month',
'https://www.multpl.com/6-month-treasury-rate/table/by-month',
'https://www.multpl.com/1-year-treasury-rate/table/by-month',
'https://www.multpl.com/2-year-treasury-rate/table/by-month',
'https://www.multpl.com/3-year-treasury-rate/table/by-month',
'https://www.multpl.com/5-year-treasury-rate/table/by-month',
'https://www.multpl.com/7-year-treasury-rate/table/by-month',
'https://www.multpl.com/10-year-treasury-rate/table/by-month',
'https://www.multpl.com/20-year-treasury-rate/table/by-month',
'https://www.multpl.com/30-year-treasury-rate/table/by-month',
'https://www.multpl.com/5-year-real-interest-rate/table/by-month'
'https://www.multpl.com/7-year-real-interest-rate/table/by-month',
'https://www.multpl.com/10-year-real-interest-rate/table/by-month',
'https://www.multpl.com/20-year-real-interest-rate/table/by-month',
'https://www.multpl.com/30-year-real-interest-rate/table/by-month',
'https://www.multpl.com/cpi/table/by-month',
'https://www.multpl.com/gdp-deflator/table/by-month',
'https://www.multpl.com/us-retail-sales/table/by-month',
'https://www.multpl.com/us-retail-sales-growth/table/by-month',
'https://www.multpl.com/us-real-retail-sales/table/by-month',
'https://www.multpl.com/us-real-retail-sales-growth/table/by-month',
'https://www.multpl.com/case-shiller-home-price-index-inflation-adjusted/table/by-month',
'https://www.multpl.com/inflation/table/by-month',
'https://www.multpl.com/united-states-population/table/by-month',
'https://www.multpl.com/us-population-growth-rate/table/by-month',
'https://www.multpl.com/unemployment/table/by-month',
'https://www.multpl.com/us-long-term-unemployment-rate/table/by-month',
'https://www.multpl.com/us-employment-population-ratio/table/by-month',
'https://www.multpl.com/us-labor-force-participation-rate/table/by-month']

In [ ]:
#get initial data (stock prices)
price=pd.read_html('https://www.multpl.com/s-p-500-historical-prices/table/by-month')[0]
price['Date']=pd.to_datetime(price['Date'])
price['Date']=price['Date'].dt.strftime('%Y-%m')
price.set_index(price['Date'],inplace=True)
price

            Date  Price Value
Date
2021-06  2021-06      4229.89
2021-05  2021-05      4192.66
2021-04  2021-04      4141.18
2021-03  2021-03      3910.51
2021-02  2021-02      3883.43
...          ...          ...
1871-05  1871-05         4.86
1871-04  1871-04         4.74
1871-03  1871-03         4.61
1871-02  1871-02         4.50
1871-01  1871-01         4.44

[1806 rows x 2 columns]

In [ ]:
price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1806 entries, 2021-06 to 1871-01
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1806 non-null   object
 1   Price Value  1806 non-null   float64
dtypes: float64(1), object(1)
memory usage: 42.3+ KB

In [ ]:
# create dictionary with all data
m_data={}
for i in m_site:
  m_data[i[23:-15]+i[-9:]]=pd.read_html(i)[0]
  m_data[i[23:-15]+i[-9:]]['Date']=pd.to_datetime(m_data[i[23:-15]+i[-9:]]['Date'])
  m_data[i[23:-15]+i[-9:]]['Date']=m_data[i[23:-15]+i[-9:]]['Date'].dt.strftime('%Y-%m')
  m_data[i[23:-15]+i[-9:]].set_index(m_data[i[23:-15]+i[-9:]]['Date'],inplace=True)
  m_data[i[23:-15]+i[-9:]].drop(columns=['Date'],inplace=True)

In [ ]:
m_data.keys()

dict_keys(['s-p-500-dividend/by-month', 's-p-500-dividend-yield/by-month', 's-p-500-earnings/by-month', 's-p-500-earnings-yield/by-month', 's-p-500-pe-ratio/by-month', 'inflation-adjusted-s-p-500/by-month', 'shiller-pe/by-month', '1-month-treasury-rate/by-month', '3-month-treasury-rate/by-month', '6-month-treasury-rate/by-month', '1-year-treasury-rate/by-month', '2-year-treasury-rate/by-month', '3-year-treasury-rate/by-month', '5-year-treasury-rate/by-month', '7-year-treasury-rate/by-month', '10-year-treasury-rate/by-month', '20-year-treasury-rate/by-month', '30-year-treasury-rate/by-month', '5-year-real-interest-rate/table/by-monthhttps://www.multpl.com/7-year-real-interest-rate/by-month', '10-year-real-interest-rate/by-month', '20-year-real-interest-rate/by-month', '30-year-real-interest-rate/by-month', 'cpi/by-month', 'gdp-deflator/by-month', 'us-retail-sales/by-month', 'us-retail-sales-growth/by-month', 'us-real-retail-sales/by-month', 'us-real-retail-sales-growth/by-month', 'case-shiller-home-price-index-inflation-adjusted/by-month', 'inflation/by-month', 'united-states-population/by-month', 'us-population-growth-rate/by-month', 'unemployment/by-month', 'us-long-term-unemployment-rate/by-month', 'us-employment-population-ratio/by-month', 'us-labor-force-participation-rate/by-month'])

In [ ]:
price2=price
price2

            Date  Price Value
Date
2021-06  2021-06      4229.89
2021-05  2021-05      4192.66
2021-04  2021-04      4141.18
2021-03  2021-03      3910.51
2021-02  2021-02      3883.43
...          ...          ...
1871-05  1871-05         4.86
1871-04  1871-04         4.74
1871-03  1871-03         4.61
1871-02  1871-02         4.50
1871-01  1871-01         4.44

[1806 rows x 2 columns]

In [ ]:
#add monthly data to df
for i in m_data.keys():
  price2[i]=m_data[i]
price2

            Date  ...  us-labor-force-participation-rate/by-month
Date              ...
2021-06  2021-06  ...                                         NaN
2021-05  2021-05  ...                                         NaN
2021-04  2021-04  ...                                      61.70%
2021-03  2021-03  ...                                      61.50%
2021-02  2021-02  ...                                      61.40%
...          ...  ...                                         ...
1871-05  1871-05  ...                                         NaN
1871-04  1871-04  ...                                         NaN
1871-03  1871-03  ...                                         NaN
1871-02  1871-02  ...                                         NaN
1871-01  1871-01  ...                                         NaN

[1806 rows x 38 columns]

In [ ]:
price2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1806 entries, 2021-06 to 1871-01
Data columns (total 38 columns):
 #   Column                                                                                             Non-Null Count  Dtype
---  ------                                                                                             --------------  -----
 0   Date                                                                                               1806 non-null   object
 1   Price Value                                                                                        1806 non-null   float64
 2   s-p-500-dividend/by-month                                                                          1803 non-null   float64
 3   s-p-500-dividend-yield/by-month                                                                    1806 non-null   object
 4   s-p-500-earnings/by-month                                                                          1800 non-null   float64
 5   s-p-500-earnings-yield/by-month                                                                    1806 non-null   object
 6   s-p-500-pe-ratio/by-month                                                                          1806 non-null   object
 7   inflation-adjusted-s-p-500/by-month                                                                1806 non-null   float64
 8   shiller-pe/by-month                                                                                1805 non-null   float64
 9   1-month-treasury-rate/by-month                                                                     240 non-null    object
 10  3-month-treasury-rate/by-month                                                                     378 non-null    object
 11  6-month-treasury-rate/by-month                                                                     378 non-null    object
 12  1-year-treasury-rate/by-month                                                                      378 non-null    object
 13  2-year-treasury-rate/by-month                                                                      378 non-null    object
 14  3-year-treasury-rate/by-month                                                                      378 non-null    object
 15  5-year-treasury-rate/by-month                                                                      378 non-null    object
 16  7-year-treasury-rate/by-month                                                                      378 non-null    object
 17  10-year-treasury-rate/by-month                                                                     1806 non-null   object
 18  20-year-treasury-rate/by-month                                                                     333 non-null    object
 19  30-year-treasury-rate/by-month                                                                     331 non-null    object
 20  5-year-real-interest-rate/table/by-monthhttps://www.multpl.com/7-year-real-interest-rate/by-month  20 non-null     object
 21  10-year-real-interest-rate/by-month                                                                222 non-null    object
 22  20-year-real-interest-rate/by-month                                                                204 non-null    object
 23  30-year-real-interest-rate/by-month                                                                137 non-null    object
 24  cpi/by-month                                                                                       1804 non-null   float64
 25  gdp-deflator/by-month                                                                              315 non-null    float64
 26  us-retail-sales/by-month                                                                           352 non-null    object
 27  us-retail-sales-growth/by-month                                                                    340 non-null    object
 28  us-real-retail-sales/by-month                                                                      352 non-null    object
 29  us-real-retail-sales-growth/by-month                                                               340 non-null    object
 30  case-shiller-home-price-index-inflation-adjusted/by-month                                          569 non-null    float64
 31  inflation/by-month                                                                                 1792 non-null   object
 32  united-states-population/by-month                                                                  459 non-null    object
 33  us-population-growth-rate/by-month                                                                 1439 non-null   object
 34  unemployment/by-month                                                                              880 non-null    object
 35  us-long-term-unemployment-rate/by-month                                                            880 non-null    object
 36  us-employment-population-ratio/by-month                                                            880 non-null    object
 37  us-labor-force-participation-rate/by-month                                                         880 non-null    object
dtypes: float64(8), object(30)
memory usage: 550.3+ KB

In [ ]:
#find columns with lots of null values
for i in price2.columns:
  if (price2[i].isna().sum() ) > 300:
    print(i)

1-month-treasury-rate/by-month
3-month-treasury-rate/by-month
6-month-treasury-rate/by-month
1-year-treasury-rate/by-month
2-year-treasury-rate/by-month
3-year-treasury-rate/by-month
5-year-treasury-rate/by-month
7-year-treasury-rate/by-month
20-year-treasury-rate/by-month
30-year-treasury-rate/by-month
5-year-real-interest-rate/table/by-monthhttps://www.multpl.com/7-year-real-interest-rate/by-month
10-year-real-interest-rate/by-month
20-year-real-interest-rate/by-month
30-year-real-interest-rate/by-month
gdp-deflator/by-month
us-retail-sales/by-month
us-retail-sales-growth/by-month
us-real-retail-sales/by-month
us-real-retail-sales-growth/by-month
case-shiller-home-price-index-inflation-adjusted/by-month
united-states-population/by-month
us-population-growth-rate/by-month
unemployment/by-month
us-long-term-unemployment-rate/by-month
us-employment-population-ratio/by-month
us-labor-force-participation-rate/by-month

In [ ]:
dataM2=price2.iloc[1:,:]

In [ ]:
dataM2

            Date  ...  us-labor-force-participation-rate/by-month
Date              ...
2021-05  2021-05  ...                                         NaN
2021-04  2021-04  ...                                      61.70%
2021-03  2021-03  ...                                      61.50%
2021-02  2021-02  ...                                      61.40%
2021-01  2021-01  ...                                      61.40%
...          ...  ...                                         ...
1871-05  1871-05  ...                                         NaN
1871-04  1871-04  ...                                         NaN
1871-03  1871-03  ...                                         NaN
1871-02  1871-02  ...                                         NaN
1871-01  1871-01  ...                                         NaN

[1805 rows x 38 columns]

In [ ]:
dataM2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1805 entries, 2021-05 to 1871-01
Data columns (total 38 columns):
 #   Column                                                                                             Non-Null Count  Dtype
---  ------                                                                                             --------------  -----
 0   Date                                                                                               1805 non-null   object
 1   Price Value                                                                                        1805 non-null   float64
 2   s-p-500-dividend/by-month                                                                          1803 non-null   float64
 3   s-p-500-dividend-yield/by-month                                                                    1805 non-null   object
 4   s-p-500-earnings/by-month                                                                          1800 non-null   float64
 5   s-p-500-earnings-yield/by-month                                                                    1805 non-null   object
 6   s-p-500-pe-ratio/by-month                                                                          1805 non-null   object
 7   inflation-adjusted-s-p-500/by-month                                                                1805 non-null   float64
 8   shiller-pe/by-month                                                                                1804 non-null   float64
 9   1-month-treasury-rate/by-month                                                                     239 non-null    object
 10  3-month-treasury-rate/by-month                                                                     377 non-null    object
 11  6-month-treasury-rate/by-month                                                                     377 non-null    object
 12  1-year-treasury-rate/by-month                                                                      377 non-null    object
 13  2-year-treasury-rate/by-month                                                                      377 non-null    object
 14  3-year-treasury-rate/by-month                                                                      377 non-null    object
 15  5-year-treasury-rate/by-month                                                                      377 non-null    object
 16  7-year-treasury-rate/by-month                                                                      377 non-null    object
 17  10-year-treasury-rate/by-month                                                                     1805 non-null   object
 18  20-year-treasury-rate/by-month                                                                     332 non-null    object
 19  30-year-treasury-rate/by-month                                                                     330 non-null    object
 20  5-year-real-interest-rate/table/by-monthhttps://www.multpl.com/7-year-real-interest-rate/by-month  19 non-null     object
 21  10-year-real-interest-rate/by-month                                                                221 non-null    object
 22  20-year-real-interest-rate/by-month                                                                203 non-null    object
 23  30-year-real-interest-rate/by-month                                                                136 non-null    object
 24  cpi/by-month                                                                                       1804 non-null   float64
 25  gdp-deflator/by-month                                                                              315 non-null    float64
 26  us-retail-sales/by-month                                                                           352 non-null    object
 27  us-retail-sales-growth/by-month                                                                    340 non-null    object
 28  us-real-retail-sales/by-month                                                                      352 non-null    object
 29  us-real-retail-sales-growth/by-month                                                               340 non-null    object
 30  case-shiller-home-price-index-inflation-adjusted/by-month                                          569 non-null    float64
 31  inflation/by-month                                                                                 1792 non-null   object
 32  united-states-population/by-month                                                                  459 non-null    object
 33  us-population-growth-rate/by-month                                                                 1439 non-null   object
 34  unemployment/by-month                                                                              880 non-null    object
 35  us-long-term-unemployment-rate/by-month                                                            880 non-null    object
 36  us-employment-population-ratio/by-month                                                            880 non-null    object
 37  us-labor-force-participation-rate/by-month                                                         880 non-null    object
dtypes: float64(8), object(30)
memory usage: 550.0+ KB

In [ ]:
#drop column with almost no real values
dataM3=dataM2.drop(columns='5-year-real-interest-rate/table/by-monthhttps://www.multpl.com/7-year-real-interest-rate/by-month')

In [ ]:
dataM3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1805 entries, 2021-05 to 1871-01
Data columns (total 37 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Date                                                       1805 non-null   object
 1   Price Value                                                1805 non-null   float64
 2   s-p-500-dividend/by-month                                  1803 non-null   float64
 3   s-p-500-dividend-yield/by-month                            1805 non-null   object
 4   s-p-500-earnings/by-month                                  1800 non-null   float64
 5   s-p-500-earnings-yield/by-month                            1805 non-null   object
 6   s-p-500-pe-ratio/by-month                                  1805 non-null   object
 7   inflation-adjusted-s-p-500/by-month                        1805 non-null   float64
 8   shiller-pe/by-month                                        1804 non-null   float64
 9   1-month-treasury-rate/by-month                             239 non-null    object
 10  3-month-treasury-rate/by-month                             377 non-null    object
 11  6-month-treasury-rate/by-month                             377 non-null    object
 12  1-year-treasury-rate/by-month                              377 non-null    object
 13  2-year-treasury-rate/by-month                              377 non-null    object
 14  3-year-treasury-rate/by-month                              377 non-null    object
 15  5-year-treasury-rate/by-month                              377 non-null    object
 16  7-year-treasury-rate/by-month                              377 non-null    object
 17  10-year-treasury-rate/by-month                             1805 non-null   object
 18  20-year-treasury-rate/by-month                             332 non-null    object
 19  30-year-treasury-rate/by-month                             330 non-null    object
 20  10-year-real-interest-rate/by-month                        221 non-null    object
 21  20-year-real-interest-rate/by-month                        203 non-null    object
 22  30-year-real-interest-rate/by-month                        136 non-null    object
 23  cpi/by-month                                               1804 non-null   float64
 24  gdp-deflator/by-month                                      315 non-null    float64
 25  us-retail-sales/by-month                                   352 non-null    object
 26  us-retail-sales-growth/by-month                            340 non-null    object
 27  us-real-retail-sales/by-month                              352 non-null    object
 28  us-real-retail-sales-growth/by-month                       340 non-null    object
 29  case-shiller-home-price-index-inflation-adjusted/by-month  569 non-null    float64
 30  inflation/by-month                                         1792 non-null   object
 31  united-states-population/by-month                          459 non-null    object
 32  us-population-growth-rate/by-month                         1439 non-null   object
 33  unemployment/by-month                                      880 non-null    object
 34  us-long-term-unemployment-rate/by-month                    880 non-null    object
 35  us-employment-population-ratio/by-month                    880 non-null    object
 36  us-labor-force-participation-rate/by-month                 880 non-null    object
dtypes: float64(8), object(29)
memory usage: 535.9+ KB

In [ ]:
dataM4=dataM3

In [ ]:
#convert date to datetime and set as index
dataM4['Date']=pd.to_datetime(dataM4['Date'])
dataM4.set_index(dataM4['Date'],inplace=True)

In [ ]:
dataM4

                 Date  ...  us-labor-force-participation-rate/by-month
Date                   ...
2021-05-01 2021-05-01  ...                                         NaN
2021-04-01 2021-04-01  ...                                      61.70%
2021-03-01 2021-03-01  ...                                      61.50%
2021-02-01 2021-02-01  ...                                      61.40%
2021-01-01 2021-01-01  ...                                      61.40%
...               ...  ...                                         ...
1871-05-01 1871-05-01  ...                                         NaN
1871-04-01 1871-04-01  ...                                         NaN
1871-03-01 1871-03-01  ...                                         NaN
1871-02-01 1871-02-01  ...                                         NaN
1871-01-01 1871-01-01  ...                                         NaN

[1805 rows x 37 columns]

In [ ]:
#droo date column
dataM4=dataM4.drop(columns=['Date'])

In [ ]:
#drop columns with lots of null values
for i in dataM4.columns:
  if dataM4[i].isna().sum() > 100:
    dataM4=dataM4.drop(columns=i)
print(dataM4.columns)

Index(['Price Value', 's-p-500-dividend/by-month',
       's-p-500-dividend-yield/by-month', 's-p-500-earnings/by-month',
       's-p-500-earnings-yield/by-month', 's-p-500-pe-ratio/by-month',
       'inflation-adjusted-s-p-500/by-month', 'shiller-pe/by-month',
       '10-year-treasury-rate/by-month', 'cpi/by-month', 'inflation/by-month'],
      dtype='object')

In [ ]:
dataM4.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1805 entries, 2021-05-01 to 1871-01-01
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Price Value                          1805 non-null   float64
 1   s-p-500-dividend/by-month            1803 non-null   float64
 2   s-p-500-dividend-yield/by-month      1805 non-null   object
 3   s-p-500-earnings/by-month            1800 non-null   float64
 4   s-p-500-earnings-yield/by-month      1805 non-null   object
 5   s-p-500-pe-ratio/by-month            1805 non-null   object
 6   inflation-adjusted-s-p-500/by-month  1805 non-null   float64
 7   shiller-pe/by-month                  1804 non-null   float64
 8   10-year-treasury-rate/by-month       1805 non-null   object
 9   cpi/by-month                         1804 non-null   float64
 10  inflation/by-month                   1792 non-null   object
dtypes: float64(6), object(5)
memory usage: 169.2+ KB

In [ ]:
#drop remaining null values
dataM5=dataM4.dropna()
dataM5.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1788 entries, 2020-12-01 to 1872-01-01
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Price Value                          1788 non-null   float64
 1   s-p-500-dividend/by-month            1788 non-null   float64
 2   s-p-500-dividend-yield/by-month      1788 non-null   object
 3   s-p-500-earnings/by-month            1788 non-null   float64
 4   s-p-500-earnings-yield/by-month      1788 non-null   object
 5   s-p-500-pe-ratio/by-month            1788 non-null   object
 6   inflation-adjusted-s-p-500/by-month  1788 non-null   float64
 7   shiller-pe/by-month                  1788 non-null   float64
 8   10-year-treasury-rate/by-month       1788 non-null   object
 9   cpi/by-month                         1788 non-null   float64
 10  inflation/by-month                   1788 non-null   object
dtypes: float64(6), object(5)
memory usage: 167.6+ KB

In [ ]:
dataM5

            Price Value  ...  inflation/by-month
Date                     ...
2020-12-01      3695.31  ...               1.36%
2020-11-01      3548.99  ...               1.17%
2020-10-01      3418.70  ...               1.18%
2020-09-01      3365.52  ...               1.37%
2020-08-01      3391.71  ...               1.31%
...                 ...  ...                 ...
1872-05-01         5.18  ...               7.01%
1872-04-01         5.18  ...               4.54%
1872-03-01         5.04  ...              -1.46%
1872-02-01         4.88  ...              -1.48%
1872-01-01         4.86  ...               1.52%

[1788 rows x 11 columns]

In [ ]:
# check data types
dataM5.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1788 entries, 2020-12-01 to 1872-01-01
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Price Value                          1788 non-null   float64
 1   s-p-500-dividend/by-month            1788 non-null   float64
 2   s-p-500-dividend-yield/by-month      1788 non-null   object
 3   s-p-500-earnings/by-month            1788 non-null   float64
 4   s-p-500-earnings-yield/by-month      1788 non-null   object
 5   s-p-500-pe-ratio/by-month            1788 non-null   object
 6   inflation-adjusted-s-p-500/by-month  1788 non-null   float64
 7   shiller-pe/by-month                  1788 non-null   float64
 8   10-year-treasury-rate/by-month       1788 non-null   object
 9   cpi/by-month                         1788 non-null   float64
 10  inflation/by-month                   1788 non-null   object
dtypes: float64(6), object(5)
memory usage: 167.6+ KB

In [ ]:
#convert column values to floats
for i in dataM5.columns:
  if(type(dataM5[i][0])== str ):
    dataM5[i]=dataM5[i].str.replace("%", "")
    dataM5[i]=dataM5[i].astype('float')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
dataM5.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1788 entries, 2020-12-01 to 1872-01-01
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Price Value                          1788 non-null   float64
 1   s-p-500-dividend/by-month            1788 non-null   float64
 2   s-p-500-dividend-yield/by-month      1788 non-null   float64
 3   s-p-500-earnings/by-month            1788 non-null   float64
 4   s-p-500-earnings-yield/by-month      1788 non-null   float64
 5   s-p-500-pe-ratio/by-month            1788 non-null   float64
 6   inflation-adjusted-s-p-500/by-month  1788 non-null   float64
 7   shiller-pe/by-month                  1788 non-null   float64
 8   10-year-treasury-rate/by-month       1788 non-null   float64
 9   cpi/by-month                         1788 non-null   float64
 10  inflation/by-month                   1788 non-null   float64
dtypes: float64(11)
memory usage: 167.6 KB

In [ ]:
dataM5

            Price Value  ...  inflation/by-month
Date                     ...
2020-12-01      3695.31  ...                1.36
2020-11-01      3548.99  ...                1.17
2020-10-01      3418.70  ...                1.18
2020-09-01      3365.52  ...                1.37
2020-08-01      3391.71  ...                1.31
...                 ...  ...                 ...
1872-05-01         5.18  ...                7.01
1872-04-01         5.18  ...                4.54
1872-03-01         5.04  ...               -1.46
1872-02-01         4.88  ...               -1.48
1872-01-01         4.86  ...                1.52

[1788 rows x 11 columns]

In [ ]:
#elimante the posibility of any endoginaity
dataM5['Price Value']=dataM5['Price Value'].shift(1)
dataM6=dataM5.dropna()
dataM6

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Price Value  ...  inflation/by-month
Date                     ...
2020-11-01      3695.31  ...                1.17
2020-10-01      3548.99  ...                1.18
2020-09-01      3418.70  ...                1.37
2020-08-01      3365.52  ...                1.31
2020-07-01      3391.71  ...                0.99
...                 ...  ...                 ...
1872-05-01         5.13  ...                7.01
1872-04-01         5.18  ...                4.54
1872-03-01         5.18  ...               -1.46
1872-02-01         5.04  ...               -1.48
1872-01-01         4.88  ...                1.52

[1787 rows x 11 columns]

In [ ]:
# save dataframe
dataM6.to_csv('finalDF')

In [ ]:
dataM6

            Price Value  ...  inflation/by-month
Date                     ...
2020-11-01      3695.31  ...                1.17
2020-10-01      3548.99  ...                1.18
2020-09-01      3418.70  ...                1.37
2020-08-01      3365.52  ...                1.31
2020-07-01      3391.71  ...                0.99
...                 ...  ...                 ...
1872-05-01         5.13  ...                7.01
1872-04-01         5.18  ...                4.54
1872-03-01         5.18  ...               -1.46
1872-02-01         5.04  ...               -1.48
1872-01-01         4.88  ...                1.52

[1787 rows x 11 columns]